body {
  background-color: #23252C;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
}

.container {
  background-color: #1A1B21;
  width: 40vh;
  height: 90vh;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  color: white;
}

img {
  width: 100%
}

h1 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  margin: 4px;
  color: #F3BF99;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

h4 {
  margin: 2px;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}

.linkedin-button {
  width: 80%;
  height: fit-content;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px auto;
  background-color: #5093E2;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.sosial-media {
  background-color: #161619;
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
}